<div class="w-full min-h-screen bg-sky-100 pt-4">
  <div>
    <h1 class="m-4 text-lg font-bold drop-shadow-md float-left">Leads</h1>
    <div class="float-right">
      <button class="bg-sky-200 rounded px-4 py-2 text-sky-500 font-bold align-top">
        <ng-icon name="heroPlus" size="12" color="#0ea5e9" strokeWidth="4" /> Add New
      </button>
      <button class="px-4 py-2"><ng-icon name="heroSquares2x2" size="30" color="#94a3b8" /></button>
      <button class="px-4 py-2"><ng-icon name="heroListBullet" size="30" color="#94a3b8" /></button>
    </div>
  </div>
</div>
