<h2 class="text-lg font-bold">Create New Work Item</h2>
<hr class="my-4" />

<form [formGroup]="form" (ngSubmit)="submit()">
  <label class="text-sm font-bold">Title</label>
  <input type="text" class="w-full p-2 mb-2 border rounded" placeholder="Title" formControlName="title" />

  <label class="text-sm font-bold">Description</label>
  <textarea class="w-full p-2 mb-1 border rounded" placeholder="Description" formControlName="description"></textarea>

  <label class="text-sm font-bold">Start Date</label>
  <input type="date" class="w-full p-2 mb-2 border rounded" formControlName="startDate" />

  <label class="text-sm font-bold">Due Date</label>
  <input type="date" class="w-full p-2 mb-2 border rounded" formControlName="dueDate" />

  <label class="text-sm font-bold">Assignee</label>
  <select class="w-full p-2 mb-2 border rounded bg-white" formControlName="assigneeId">
    <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
  </select>

  <label class="text-sm font-bold">Tags</label>
  <div class="flex flex-wrap mb-2">
    <input type="text" class="w-full p-2 mb-2 border rounded" (keydown)="addTag($event)" />
    <div *ngFor="let tag of tags().controls; let i=index" class="bg-green-200 rounded px-4 py-2 text-green-500 font-bold mr-2 mb-2">
      {{ tag.value }} <span (click)="removeTag(i)" class="cursor-pointer text-sky-300">x</span>
    </div>
  </div>

  <button class="bg-sky-200 rounded px-4 py-2 text-sky-500 font-bold align-top">
    Create
  </button>
</form>
